.note-columns-scrolling-container {
	height: 100%;
}

iframe, div {
	height: 100%;
}

iframe {
	width: 100%;
}

/** stacked layout */

.note-columns-scrolling-container {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	flex-grow: 1;

	/*FF only :( */
	/*todo*/
	/*scrollbar-width: none;*/
	/*scrollbar-color: var(--shadow) var(--note-bg);*/
}

.note-content {
	scrollbar-width: thin;
}

.note-columns-container {
	display: flex;
	flex-grow: 1;
	transition: width 100ms cubic-bezier(0.19, 1, 0.22, 1);
}

/* wrapped note */

.note-container {
	background: var(--note-bg);
	transition: background 0.3s ease;
}

.note-container:first-child {
	border-left: none;
}

.note-container .note-content,
.note-container .obstructed-note-label {
	transition: opacity 75ms linear;
}

.note-container .obstructed-note-label {
	top: 0;
	bottom: 0;
	left: 0;
	position: absolute;

	opacity: 0;
	pointer-events: none;

	padding-top: 36px;

	display: block;
}

.obstructed-note-label .close-note-button {
	top: 10px;
	position: absolute;
	left: 50%;
	transform: translateX(-55%);

	margin-left: auto;
	margin-right: auto;
}

.obstructed-label {
	display: block;
	color: var(--text);
	text-decoration: none;
	font-size: 17px;
	line-height: 40px;
	font-weight: 500;
	writing-mode: vertical-lr;
	background-color: transparent;
	width: 40px;
	overflow: hidden;
	transition: color 0.3s ease;
}

.note-container.note-container-highlighted {
	background: var(--references-bg);
	transition: background 0.3s ease;
}

.note-content img {
	max-width: 100%;
}

/*@media screen and (min-width: 801px) {*/
	.note-container {
		transition: box-shadow 100ms linear, opacity 75ms linear,
		transform 200ms cubic-bezier(0.19, 1, 0.22, 1);
		flex-shrink: 0;
		width: 625px;
		max-width: 625px;
		top: 0;
		position: sticky;
		flex-grow: 1;
		border-left: 1px solid var(--separator);
		padding: 0;
	}

	.note-content {
		/*overflow-y: auto;*/
		height: 100%;
		overflow-y: hidden;
		overflow-x: hidden;
		/*padding: 32px;*/
	}

	.note-container-overlay {
		box-shadow: 0 0 15px 3px var(--shadow);
	}

	.note-container-obstructed .note-content {
		opacity: 0;
	}
	.note-container-obstructed .obstructed-note-label {
		opacity: 1;
		pointer-events: all;
	}
/*}*/

.sidebar__drag {
	width: 3px;
	cursor: col-resize;
	position: absolute;
	top: 0;
	bottom: 0;
	border: 0 solid #E6E6E6;
}
@media (prefers-color-scheme: dark) {
	.sidebar__drag {
		border-color: #44464A;
	}
}

.sidebar__drag {
	border-left-width: 1px;
	left: 0;
}
