textarea,
label {
	width: 100%;
	margin: 0;
}

:root {
	--main-text-color: black;
}

@media (prefers-color-scheme: dark) {
	:root {
		--main-text-color: white;
	}
}

.option-label {
	margin-bottom: 0.5em;
	font-weight: bold;
}

body {
	color: var(--main-text-color);
}

.detail-view-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
}

.option-input {
	margin-bottom: 1em;
	display: block;
}
